@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.delivery__title, .form__title, .price__title, .calculate__title, .worksteps__title, .benefits__title, .certificates__title, .partners__title, .feedback__title, .questions__title {
  font-weight: 700;
  color: #000000;
}

.delivery__title span, .form__title span, .price__title span, .calculate__title span, .worksteps__title span, .benefits__title span, .certificates__title span, .partners__title span, .feedback__title span, .questions__title span {
  color: #098FCF;
}

.header__button, .form__button, .result__button, .feedback__button, .questions__button {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 0 16px;
  background-color: #098FCF;
}

.form__input, .calculate__select, .calculate__input, .calculate__volume, .questions__input {
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
  padding: 13px 15px 16px;
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__input::-webkit-input-placeholder, .calculate__select::-webkit-input-placeholder, .calculate__input::-webkit-input-placeholder, .calculate__volume::-webkit-input-placeholder, .questions__input::-webkit-input-placeholder {
  color: #565656;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__input:-ms-input-placeholder, .calculate__select:-ms-input-placeholder, .calculate__input:-ms-input-placeholder, .calculate__volume:-ms-input-placeholder, .questions__input:-ms-input-placeholder {
  color: #565656;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__input::-ms-input-placeholder, .calculate__select::-ms-input-placeholder, .calculate__input::-ms-input-placeholder, .calculate__volume::-ms-input-placeholder, .questions__input::-ms-input-placeholder {
  color: #565656;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__input::placeholder, .calculate__select::placeholder, .calculate__input::placeholder, .calculate__volume::placeholder, .questions__input::placeholder {
  color: #565656;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

h1 {
  font-size: 48px;
  line-height: 59px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 38px;
    line-height: 49px;
  }
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

@media (max-width: 990px) {
  h2 {
    font-size: 26px;
    line-height: 34px;
  }
}

a:hover {
  color: #098FCF;
}

.wrap {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1180px;
  min-width: 375px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 990px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  background-color: #FFFFFF;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 16px 0;
  position: relative;
}

.header__logo {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 220px;
}

.header__logo img {
  width: 100%;
}

.header__phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13.8px;
  margin-right: 35px;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13.33px;
  width: 176px;
  border: none;
  margin: 0;
}

.header__burger {
  position: absolute;
  right: 30px;
  top: 24px;
  width: 30px;
  height: 20px;
  display: none;
}

.header__burger:hover {
  cursor: pointer;
}

.header__burger span {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 1px;
  background: #000000;
}

.header__burger span::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -19px;
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.header__burger span::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -9px;
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.header__burger.active span {
  background: transparent;
}

.header__burger.active span::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -10px;
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.header__burger.active span::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -10px;
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

@media (max-width: 990px) {
  .header {
    background-color: #F9F9F9;
  }
  .header__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: static;
  }
  .header__logo {
    position: static;
    width: 180px;
  }
  .header__phone {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    z-index: 51;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    display: none;
  }
  .header__phone.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__btns {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 51;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    display: none;
  }
  .header__btns.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__burger {
    display: block;
  }
}

.navmenu {
  background-color: #F9F9F9;
  padding: 11px 0;
  -webkit-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu__item {
  margin-right: 40px;
  position: relative;
  padding: 10px 0;
}

.navmenu__item:hover .submenu {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.navmenu__item:hover .navmenu__link_btn::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 15px;
  right: -12px;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navmenu__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.navmenu__link_btn {
  position: relative;
}

.navmenu__link_btn::after {
  content: url("../media/icon/arrow-down.svg");
  position: relative;
  right: -9.83px;
  top: 0;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 8.33px;
  height: 4.17px;
  display: inline-block;
}

@media (max-width: 990px) {
  .navmenu {
    position: absolute;
    z-index: 50;
    top: -100%;
    height: 100%;
    width: 100%;
  }
  .navmenu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
  .navmenu__item {
    margin: 0;
  }
  .navmenu__link {
    font-size: 20px;
    line-height: 28px;
  }
  .navmenu.active {
    top: 68px;
    -webkit-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
  }
}

.submenu {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: block;
  position: absolute;
  z-index: 5;
  left: -15px;
  top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  background-color: #F9F9F9;
  padding: 15px;
}

.submenu__item {
  padding: 10px 0;
}

main {
  padding-top: 90px;
}

@media (max-width: 990px) {
  main {
    padding-top: 48px;
  }
}

.delivery {
  padding-bottom: 100px;
  background-color: #FFFFFF;
}

.delivery__title {
  margin-bottom: 48px;
}

@media (max-width: 990px) {
  .delivery {
    padding-bottom: 48px;
  }
}

.form {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  padding: 49px 96px 43px;
}

.form__title {
  margin-bottom: 30px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 14px;
  margin-bottom: 30px;
}

.form__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 8px;
  display: block;
  color: #000000;
}

.form__input {
  width: 273px;
}

.form__button {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 258px;
}

.form__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__agree:hover {
  cursor: pointer;
}

.form__checkbox {
  background: #F9F9F9;
  border: 1px solid #D5D5D5;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.form__checkbox svg {
  display: none;
}

.form__checkbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__checkbox.active svg {
  display: block;
}

.form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 990px) {
  .form {
    padding: 49px 50px 43px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__item {
    width: 100%;
    text-align: center;
  }
  .form__input {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
}

.price {
  background-color: #FFFFFF;
  padding-bottom: 80px;
  -ms-overflow-style: none;
  /* IE и Edge */
}

.price__title {
  margin-bottom: 48px;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scrollbar-width: none;
}

.price__table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
  border: 1px solid #E7E7E7;
  border-bottom: none;
  min-width: 600px;
}

.price ::-webkit-scrollbar {
  display: none;
}

.price__thead {
  background-color: #043C77;
  border: none;
}

.price__thead th {
  padding: 20px 30px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  border: none;
}

.price__thead th:first-child {
  padding: 0 20px;
  width: 163px;
  min-width: 90px;
}

.price__thead th:nth-child(2) {
  width: 286px;
}

.price__thead th:nth-child(3) {
  width: 290px;
}

.price__tbody {
  vertical-align: top;
}

.price__tbody td {
  padding: 16px 30px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  border-bottom: 1px solid #E7E7E7;
}

.price__tbody .uppercase {
  text-transform: uppercase;
  border-right: 1px solid #E7E7E7;
  width: 286px;
}

.price__tbody tr:first-child td:first-child {
  background-color: #098FCF;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: 16px 20px;
  width: 163px;
  min-width: 90px;
}

.price__tbody tr td:last-child, .price__tbody td:nth-last-child(2) {
  white-space: nowrap;
}

.price__name {
  width: 290px;
}

@media (max-width: 990px) {
  .price {
    padding-bottom: 48px;
  }
  .price__title {
    margin-bottom: 34px;
  }
  .price__table {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .price__thead th {
    padding: 10px;
  }
  .price__thead th:first-child {
    padding: 0 10px;
  }
  .price__thead th:nth-child(3) {
    width: 365px;
  }
  .price__tbody td {
    padding: 10px;
  }
  .price__tbody tr:first-child td:first-child {
    font-size: 20px;
    padding: 10px;
  }
  .price__tbody tr td:last-child, .price__tbody td:nth-last-child(2) {
    width: 150px;
  }
  .price__name {
    width: 365px;
  }
}

.calculate {
  background-color: #F9F9F9;
  padding: 74px 0;
}

.calculate__title {
  margin-bottom: 34px;
}

.calculate__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 71px;
}

.calculate__setting {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 409px;
          flex: 1 1 409px;
}

.calculate__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 8px;
  display: block;
}

.calculate__select {
  width: 100%;
  margin-bottom: 16px;
}

.calculate__input {
  width: 100%;
  margin-bottom: 16px;
}

.calculate__volume {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}

.calculate__range {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  outline: none;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

@media (max-width: 990px) {
  .calculate {
    padding: 48px 0;
  }
  .calculate__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .calculate__setting {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
  }
  .calculate__input, .calculate__select, .calculate__volume {
    max-width: 500px;
    display: block;
    margin: 0 auto 16px;
  }
  .calculate__label {
    max-width: 500px;
    display: block;
    margin: 0 auto 8px;
  }
}

.result {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 638px;
          flex: 1 1 638px;
  padding: 40px;
}

.result div:last-of-type .result__count {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.result__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.result__price {
  border-top: 1px solid #E7E7E7;
  padding: 16px 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.result__subtitle, .result__count {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.result__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #565656;
  margin-top: 10px;
  width: 346px;
}

.result__button {
  width: 258px;
  margin-top: 17px;
}

@media (max-width: 990px) {
  .result {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    max-width: 500px;
    padding: 20px;
  }
  .result__text {
    max-width: 346px;
    width: 100%;
  }
  .result__count {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .result__button {
    margin: 17px auto 0;
    display: block;
  }
}

.worksteps {
  background-color: #FFFFFF;
  padding: 100px 0;
}

.worksteps__title {
  margin-bottom: 48px;
}

.worksteps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.worksteps__card {
  background: #043C77;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 353px;
          flex: 0 1 353px;
  padding: 30px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.worksteps__card:not(:last-child) {
  margin-right: 30px;
}

.worksteps__icon {
  margin-bottom: 30px;
}

.worksteps__icon svg {
  fill: white;
  width: 64px;
  height: 64px;
}

.worksteps__time {
  position: absolute;
  top: 30px;
  right: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.worksteps__time p {
  margin-bottom: 17px;
}

.worksteps__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 24px;
}

.worksteps__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.worksteps__text_small {
  font-size: 12px;
  margin-top: 18px;
}

@media (max-width: 990px) {
  .worksteps {
    padding: 48px 0;
    -ms-overflow-style: none;
    /* IE и Edge */
  }
  .worksteps__title {
    margin-bottom: 32px;
  }
  .worksteps ::-webkit-scrollbar {
    display: none;
  }
  .worksteps__row {
    overflow-x: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    scrollbar-width: none;
  }
  .worksteps__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    padding: 15px;
  }
  .worksteps__card:not(:last-child) {
    margin-right: 15px;
  }
  .worksteps__icon {
    margin-bottom: 20px;
  }
  .worksteps__icon svg {
    width: 44px;
    height: 44px;
  }
  .worksteps__time {
    top: 15px;
    right: 15px;
    font-size: 12px;
    line-height: 15px;
  }
  .worksteps__time p {
    margin-bottom: 12px;
  }
  .worksteps__time svg {
    width: 50px;
  }
  .worksteps__name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .worksteps__text {
    font-size: 13px;
    line-height: 140%;
  }
  .worksteps__text_small {
    font-size: 10px;
    margin-top: 18px;
  }
}

.benefits {
  background: #F9F9F9;
  padding: 80px 0 72px;
}

.benefits__title {
  margin-bottom: 48px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.benefits__card {
  background: #FFFFFF;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 353px;
          flex: 0 1 353px;
}

.benefits__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 19px;
}

.benefits__icon svg {
  fill: black;
}

.benefits__name {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 12px;
  color: #000000;
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #565656;
}

@media (max-width: 990px) {
  .benefits {
    padding: 48px 0;
  }
}

.certificates {
  background: #FFFFFF;
  padding: 100px 0 52px;
  -ms-overflow-style: none;
  /* IE и Edge */
}

.certificates__content {
  position: relative;
}

.certificates ::-webkit-scrollbar {
  display: none;
}

.certificates__wrapper {
  padding: 48px 0;
  overflow-x: scroll;
  scrollbar-width: none;
}

.certificates__swiper-arrow-prev, .certificates__swiper-arrow-next {
  width: 56px;
  height: 56px;
  border: 1px solid #D5D5D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

.certificates__swiper-arrow-prev:hover, .certificates__swiper-arrow-next:hover {
  cursor: pointer;
}

.certificates__swiper-arrow-prev {
  right: 72px;
}

.certificates__slide {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 257px;
          flex: 0 0 257px;
  padding: 28px 20px;
}

.certificates__slide img {
  width: 100%;
}

@media (max-width: 990px) {
  .certificates {
    padding: 48px 0;
  }
  .certificates__title {
    padding-right: 138px;
  }
  .certificates__swiper-arrow-prev, .certificates__swiper-arrow-next {
    width: 46px;
    height: 46px;
    top: auto;
    bottom: 0;
  }
  .certificates__swiper-arrow-prev {
    right: 62px;
  }
  .certificates__slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
  }
}

.partners {
  background: #FFFFFF;
  padding: 0 0 98px;
  -ms-overflow-style: none;
  /* IE и Edge */
}

.partners__title {
  margin-bottom: 30px;
}

.partners ::-webkit-scrollbar {
  display: none;
}

.partners__wrapper {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
}

.partners__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 200px;
}

.partners__slide img {
  width: 100%;
}

.partners__pagination {
  width: 100%;
  text-align: center;
  position: relative;
}

.partners__pagination::before {
  content: "";
  position: absolute;
  top: -46px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #E7E7E7;
}

@media (max-width: 990px) {
  .partners {
    padding: 0 0 48px;
  }
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background: #D5D5D5;
  border-radius: 50%;
  margin: 0 23px !important;
}

.swiper-pagination-bullet-active {
  background-color: #098FCF;
  width: 8px;
  height: 8px;
  position: relative;
  top: 2px;
}

.feedback {
  background: #F9F9F9;
  padding: 86px 0 80px;
  -ms-overflow-style: none;
  /* IE и Edge */
}

.feedback__content {
  position: relative;
}

.feedback__title {
  margin-bottom: 54px;
}

.feedback__swiper-arrow-prev, .feedback__swiper-arrow-next {
  width: 56px;
  height: 56px;
  border: 1px solid #D5D5D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0px;
  top: 0;
}

.feedback__swiper-arrow-prev:hover, .feedback__swiper-arrow-next:hover {
  cursor: pointer;
}

.feedback__swiper-arrow-prev {
  right: 72px;
}

.feedback ::-webkit-scrollbar {
  display: none;
}

.feedback__wrapper {
  margin-bottom: 44px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.feedback__slide {
  background: #FFFFFF;
  padding: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 545px;
          flex: 0 0 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.feedback__name {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 12px;
}

.feedback__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #565656;
  margin-bottom: 40px;
  width: 246px;
}

.feedback__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 40px;
}

.feedback__link {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #098FCF;
}

.feedback__button {
  width: 258px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 990px) {
  .feedback {
    padding: 48px 0;
  }
  .feedback__title {
    margin-bottom: 38px;
  }
  .feedback__swiper-arrow-prev, .feedback__swiper-arrow-next {
    width: 46px;
    height: 46px;
    top: auto;
    bottom: 0;
  }
  .feedback__swiper-arrow-prev {
    right: 62px;
  }
  .feedback__slide {
    padding: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 450px;
            flex: 0 0 450px;
    max-width: 450px;
  }
  .feedback__name {
    margin-bottom: 8px;
  }
  .feedback__label, .feedback__text {
    margin-bottom: 24px;
  }
  .feedback__link {
    font-size: 16px;
  }
}

@media (max-width: 485px) {
  .feedback__slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.questions {
  background: #043C77;
  padding: 80px 0;
  color: #FFFFFF;
  text-align: center;
}

.questions__title {
  color: #FFFFFF;
  margin-bottom: 30px;
}

.questions__text {
  font-size: 13px;
  margin: 0 auto;
  max-width: 50%;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.questions__input {
  width: 286px;
  margin-right: 30px;
}

.questions__button {
  width: 200px;
}

.questions__agree {
  font-size: 12px;
}

.questions__link {
  text-decoration: underline;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.5;
}

.questions__link:hover {
  cursor: pointer;
}

@media (max-width: 990px) {
  .questions {
    padding: 48px 0;
  }
  .questions__title {
    margin-bottom: 24px;
  }
  .questions__text {
    max-width: 70%;
    min-width: 355px;
    margin-bottom: 24px;
  }
  .questions__form {
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .questions__input {
    margin: 0 0 15px;
    width: 100%;
    max-width: 350px;
  }
  .questions__button {
    width: 350px;
  }
}

.footer {
  background: #F9F9F9;
  padding: 45px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  width: 200px;
  margin-bottom: 1rem;
}

.footer__logo img {
  width: 100%;
}

.footer__name {
  color: #6c757d;
  font-size: 13px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  position: relative;
  top: 15px;
}

.footer__link {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #505050;
  line-height: 1.5;
}

.footer__contact {
  position: relative;
  top: 15px;
}

.footer__contact-name {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-align: right;
  margin-bottom: 7px;
}

.footer__phone {
  font-size: 18px;
  font-weight: 700;
  color: #079ad5;
}

@media (max-width: 990px) {
  .footer__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    top: 0;
    gap: 45px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contact {
    top: 0;
  }
  .footer__link {
    font-size: 16px;
    line-height: 2;
  }
  .footer__contact-name {
    text-align: center;
  }
}

.confidentiality {
  background-color: #FFFFFF;
  padding: 1rem 0;
}

.confidentiality__link {
  font-size: 13px;
  color: #343a40;
  text-decoration: none;
}
