// обнуляющие стили
@import "nullstyle";

// шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// цвет
$bg-gray: #F9F9F9;
$main-blue: #098FCF;
$blue-1: #043C77;
$main-gray: #565656;
$main-black: #000000;
$main-white: #FFFFFF;

// шаблоны
%header {
	font-weight: 700;
	color: $main-black;
	span {color: $main-blue;}
}

%button {
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: $main-white;
	padding: 14px 0 16px;
	background-color: $main-blue;
}

%input {
	background: $main-white;
	border: 1px solid #D5D5D5;
	padding: 13px 15px 16px;
	border-radius: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: $main-black;
	&::placeholder {
		color: $main-gray;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}

// описание стилей

body {
	font-family: 'Montserrat';
	font-style: normal;
	&.lock {
		overflow: hidden;
	}
}
h1 {
	font-size: 48px;
	line-height: 59px;
	@media (max-width: 990px) {
		font-size: 38px;
		line-height: 49px;
	}
}
h2 {
	font-size: 36px;
	line-height: 44px;
	@media (max-width: 990px) {
		font-size: 26px;
		line-height: 34px;
	}
}
a:hover {
	color: $main-blue;
}

.wrap {
	min-height: 100vh;
  	overflow: hidden;
}
.container {
	max-width: 1180px; // 1120+padding
	min-width: 375px;
	padding: 0 30px;
	margin: 0 auto;
	@media (max-width: 990px) {
		padding: 0 15px;
	}
}
.header {
	background-color: $main-white;

	&__row {
		display: flex;
		align-items: center;
		justify-content: end;
		padding: 16px 0;
		position: relative;
	}

	&__logo {
		position: absolute;
		left: 0px;
		top: 8px;
		width: 220px;
		img {width: 100%;}
	}

	&__phone {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;				
		color: $main-black;
		display: flex;
		align-items: center;
		gap: 13.8px;
		margin-right: 35px;
	}

	&__btns {
		display: flex;
	}
	&__button {
		@extend %button;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 13.33px;
		width: 176px;
		border: none;
		margin: 0;
	}

	&__burger {
		position: absolute;
		right: 30px;
		top: 24px;
		width: 30px;
		height: 20px;
		display: none;
		&:hover {
			cursor: pointer;
		}
		span {
			width: 100%;
			height: 1px;
			position: absolute;
			top: 1px;
			background: $main-black;
			&::after {
				content: "";
				width: 100%;
				height: 1px;
				background-color: $main-black;
				position: absolute;
				bottom: -19px;
				transition: all 0.5s ease-out 0s;
			}
			&::before {
				content: "";
				width: 100%;
				height: 1px;
				background-color: $main-black;
				position: absolute;
				bottom: -9px;
				transition: all 0.5s ease-out 0s;
			}
			
		}
		&.active {
			span {
				background: transparent;
				&::after {
					transform: rotate(45deg);
					bottom: -10px;
					transition: all 0.5s ease-out 0s;
				}
				&::before {
					transform: rotate(-45deg);
					bottom: -10px;
					transition: all 0.5s ease-out 0s;
				}
			}
		}
	}

	@media (max-width: 990px) {
		background-color: $bg-gray;
		&__row {
			justify-content: flex-start;
			position: static;
		}
		&__logo {
			position: static;
			width: 180px;
		}
		&__phone {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 120px;
			z-index: 51;
			justify-content: center;
			margin-right: 0;
			display: none;

			&.active {
				display: flex;
			}
		}
		&__btns {
			position: absolute;
			bottom: 50px;
			left: 0;
			right: 0;
			z-index: 51;
			justify-content: center;
			gap: 15px;
			display: none;

			&.active {
				display: flex;
			}
		}
		&__burger {
			display: block;
		}
	}
}

.navmenu {
	background-color: $bg-gray;
	padding: 11px 0;
	transition: all 0.5s ease-out 0s;


	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 40px;
		position: relative;
		padding: 10px 0;

		&:hover .submenu {
			transform: scaleY(1);
		}
		&:hover .navmenu__link_btn::after {
			transform: rotate(-180deg);
			top: 15px;
			right: -12px;
			transition: all 0.3s ease-out 0s;
		}
	}

	&__link {
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		color: $main-black;

		&_btn {
			position: relative;
			&::after {
				content: url('../media/icon/arrow-down.svg');
				position: relative;
				right: -9.83px;
				top: 0;
				margin-right: 5px;
				transition: all 0.3s ease-out 0s;
				width: 8.33px;
				height: 4.17px;
				display: inline-block;
			}
		}
	}

	@media (max-width: 990px) {
		position: absolute;
		z-index: 50;
		top: -100%;
		height: 100%;
		width: 100%;
		&__list {
			flex-direction: column;
			justify-content: center;
			padding-top: 20px;			
		}
		&__item { margin: 0;}
		&__link {
			font-size: 20px;
			line-height: 28px;
		}
		&.active {
			top: 68px;
			transition: all 0.5s ease-out 0s;
		}
	}
}

.submenu {
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: 0.5s ease-in-out;
	display: block;
	position: absolute;
	z-index: 5;
	left: -15px;
	top: 45px;
	display: flex;
	flex-direction: column;
	width: 200px;
	background-color: $bg-gray;
	padding: 15px;

	&__item {
		padding: 10px 0;
	}
}

main {
	padding-top: 90px;
	@media (max-width: 990px) {
		padding-top: 48px;
	}
}

.delivery {
	padding-bottom: 100px;
	background-color: $main-white;

	&__title {
		@extend %header;
		margin-bottom: 48px;
	}
	@media (max-width: 990px) {
		padding-bottom: 48px;
	}
}

.form {
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	padding: 49px 96px 43px;

	&__title {
		@extend %header;
		margin-bottom: 30px;
	}

	&__row {
		display: flex;
		align-items: flex-end;
		gap: 14px;
		margin-bottom: 30px;
	}

	&__label {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 8px;
		display: block;
		color: $main-black;
	}

	&__input {
		@extend %input;
		width: 273px;
	}

	&__button {
		@extend %button;
		height: min-content;
		width: 258px;
	}

	&__agree {
		display: flex;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
	}

	&__checkbox {
		background: $bg-gray;		
		border: 1px solid #D5D5D5;
		margin-right: 16px;
		width: 24px;
		height: 24px;
		svg {display: none;}

		&.active {
			display: flex;
			align-items: center;
			justify-content: center;
			svg {display: block;}
		}
	}

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}

	@media (max-width: 990px) {
		padding: 49px 50px 43px;

		&__row {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			width: 100%;
			text-align: center;
		}
		&__input {
			width: 100%;
			max-width: 350px;
			margin: 0 auto;
		}
	}
}

.price {
	background-color: $main-white;
	padding-bottom: 80px;

	&__title {
		@extend %header;
		margin-bottom: 48px;
	}

	&__content {
		display: flex;
		overflow-x: scroll;
		flex-direction: column;
		scrollbar-width: none;
	}

	&__table {
		width: 100%;
		border-spacing: 0;
		margin-bottom: 20px;
		border: 1px solid #E7E7E7;
		border-bottom: none;
		min-width: 600px;
	}
	::-webkit-scrollbar { 
		display: none; 
	}
	-ms-overflow-style: none;  /* IE и Edge */

	&__thead {
		background-color: $blue-1;
		border: none;

		th {
			padding: 20px 30px;
			color: $main-white;
			font-weight: 600;
			font-size: 13px;
			line-height: 16px;
			text-align: left;
			border: none;
		}
		th:first-child {
			padding: 0 20px;
			width: 163px;
			min-width: 90px;
		}
		th:nth-child(2) {
			width: 286px;
		}
		th:nth-child(3) {
			width: 290px;
		}
	}

	&__tbody {
		vertical-align: top;
		
		td {
			padding: 16px 30px;
			font-weight: 600;
			font-size: 13px;
			line-height: 16px;
			color: $main-black;
			border-bottom: 1px solid #E7E7E7;
		}

		.uppercase {
			text-transform: uppercase;
			border-right: 1px solid #E7E7E7;
			width: 286px;
		}

		& tr:first-child td:first-child {
			background-color: $main-blue;
			color: $main-white;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			padding: 16px 20px;
			width: 163px;
			min-width: 90px;
		}
		tr td:last-child, td:nth-last-child(2) {
			white-space: nowrap;
		}
	}
	&__name {
		width: 290px;
	}

	@media (max-width: 990px) {
		padding-bottom: 48px;

		&__title {
			margin-bottom: 34px;
		}

		&__table {
			justify-content: space-between;
			width: 100%;
		}
		&__thead {
			th {
				padding: 10px;
			}
			th:first-child {
				padding: 0 10px;
			}
			th:nth-child(3) {
				width: 365px;
			}
		}
		&__tbody {
			td {
				padding: 10px;
			}
			& tr:first-child td:first-child {
				font-size: 20px;
				padding: 10px;
			}
			tr td:last-child, td:nth-last-child(2) {
				width: 150px;
			}
		}
		&__name {
			width: 365px;
		}
	}
}

.calculate {
	background-color: $bg-gray;
	padding: 74px 0;

	&__title {
		@extend %header;
		margin-bottom: 34px;
	}

	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 71px;
	}

	&__setting {
		flex: 1 1 409px;
	}

	&__label {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: $main-black;
		margin-bottom: 8px;
		display: block;
	}

	&__select {
		@extend %input;
		width: 100%;
		margin-bottom: 16px;
	}

	&__input {
		@extend %input;
		width: 100%;
		margin-bottom: 16px;
	}

	&__volume {
		width: 100%;
		@extend %input;
		margin-bottom: 16px;
		position: relative;
	}
	&__range {
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 1px;
		outline: none;
		-webkit-transition: .2s;
		transition: opacity .2s;
	}

	@media (max-width: 990px) {
		padding: 48px 0;

		&__row {
			align-items: center;
			justify-content: center;
			gap: 35px;
			flex-direction: column;
			width: 100%;
		}
		&__setting {
			flex: 1 1 100%;
			width: 100%;
		}
		&__input, &__select, &__volume {
			max-width: 500px;
			display: block;
			margin: 0 auto 16px;
		}
		&__label {
			max-width: 500px;
			display: block;
			margin: 0 auto 8px;
		}
	}
}

.result {
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	flex: 1 1 638px;
	padding: 40px;

	& div:last-of-type .result__count {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: $main-black;
		margin-bottom: 16px;
	}

	&__price {
		border-top: 1px solid #E7E7E7;
		padding: 16px 0 14px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__subtitle, &__count {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: $main-black;
	}

	&__text {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		color: $main-gray;
		margin-top: 10px;
		width: 346px;
	}

	&__button {
		@extend %button;
		width: 258px;
		margin-top: 17px;
	}

	@media (max-width: 990px) {
		flex: 1 1 100%;
		width: 100%;
		max-width: 500px;
		padding: 20px;
		&__text {
			max-width: 346px;
			width: 100%;
		}
		&__count {
			flex-shrink: 0;
		}
		&__button {
			margin: 17px auto 0;
			display: block;
		}
	}
}

.worksteps {
	background-color: $main-white;
	padding: 100px 0;

	&__title {
		@extend %header;
		margin-bottom: 48px;
	}

	&__row {
		display: flex;
		justify-content: space-around;
	}

	&__card {
		background: $blue-1;
		flex: 0 1 353px;
		padding: 30px;
		color: $main-white;
		display: flex;
		flex-direction: column;
		position: relative;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__icon {
		margin-bottom: 30px;
		svg {
			fill: white; 
			width: 64px;
			height: 64px;
		}
	}

	&__time {
		position: absolute;
		top: 30px;
		right: 30px;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		p {margin-bottom: 17px;}
	}

	&__name {
		font-weight: 500;
		font-size: 21px;
		line-height: 26px;
		margin-bottom: 24px;
	}

	&__text {
		flex: 1 1 auto;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;

		&_small {
			font-size: 12px;
			margin-top: 18px;
		}
	}

	@media (max-width: 990px) {
		padding: 48px 0;
		&__title {
			margin-bottom: 32px;
		}
		::-webkit-scrollbar { 
			display: none; 
		}
		-ms-overflow-style: none;  /* IE и Edge */
		&__row {
			overflow-x: scroll;
			justify-content: start;
			scrollbar-width: none;
		}
		&__card {
			flex: 1 0 250px;
			padding: 15px;
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
		&__icon {
			margin-bottom: 20px;
			svg {
				width: 44px;
				height: 44px;
			}
		}
		&__time {
			top: 15px;
			right: 15px;
			font-size: 12px;
			line-height: 15px;
			p {margin-bottom: 12px;}
			svg {
				width: 50px;
			}
		}
		&__name {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 20px;
		}
		&__text {
			font-size: 13px;
			line-height: 140%;
	
			&_small {
				font-size: 10px;
				margin-top: 18px;
			}
		}
	}
}

.benefits {
	background: $bg-gray;
	padding: 80px 0 72px;

	&__title {
		@extend %header;
		margin-bottom: 48px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}

	&__card {
		background: $main-white;
		padding: 20px;
		display: flex;
		align-items: flex-start;
		flex: 0 1 353px;
	}

	&__icon {
		flex: 0 0 48px;
		display: flex;
		justify-content: center;
		margin-right: 19px;
		svg {fill: black;}
	}

	&__name {
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 12px;
		color: $main-black;
	}

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $main-gray;
	}

	@media (max-width: 990px) {
		padding: 48px 0;
	}
}

.certificates {
	background: $main-white;
	padding: 100px 0 52px;

	&__content {
		position: relative;
	}
	&__title {
		@extend %header;
	}
	::-webkit-scrollbar { 
		display: none; 
	}
	-ms-overflow-style: none;  /* IE и Edge */
	&__wrapper {
		padding: 48px 0;
		overflow-x: scroll;
		scrollbar-width: none;
	}
	&__swiper-arrow-prev, &__swiper-arrow-next {
		width: 56px;
		height: 56px;		
		border: 1px solid #D5D5D5;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0px;
		top: 0px;

		&:hover {
			cursor: pointer;
		}
	}

	&__swiper-arrow-prev {
		right: 72px;
	}

	&__slide {
		background: #FFFFFF;		
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
		flex: 0 0 257px;
		padding: 28px 20px;
		img {
			width: 100%;
		}
	}

	@media (max-width: 990px) {
		padding: 48px 0;
		&__title {
			padding-right: 138px;
		}
		&__swiper-arrow-prev, &__swiper-arrow-next {
			width: 46px;
			height: 46px;
			top: auto;
			bottom: 0;
		}
		&__swiper-arrow-prev {
			right: 62px;
		}
		&__slide {
			flex: 0 0 220px;
		}
	}
}

.partners {
	background: $main-white;
	padding: 0 0 98px;

	&__title {
		@extend %header;
		margin-bottom: 30px;
	}
	::-webkit-scrollbar { 
		display: none; 
	}
	-ms-overflow-style: none;  /* IE и Edge */
	&__wrapper {
		width: 100%;
		align-items: center;
		margin-bottom: 100px;
		position: relative;
		overflow-x: scroll;
		scrollbar-width: none;
	}

	&__slide {
		flex: 0 0 auto;
		max-width: 200px;
		img {
			width: 100%;
		}
	}

	&__pagination {
		width: 100%;
		text-align: center;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -46px;
			left: 0;
			width: 100%;
			height: 1px;
			background: #E7E7E7;
		}
	}

	@media (max-width: 990px) {
		padding: 0 0 48px;
	}
}
.swiper-pagination-bullet {
	width: 4px;
	height: 4px;		
	background: #D5D5D5;
	border-radius: 50%;
	margin: 0 23px !important;

	&-active {
		background-color: $main-blue;
		width: 8px;
		height: 8px;
		position: relative;
		top: 2px;
	}
}

.feedback {
	background: $bg-gray;
	padding: 86px 0 80px;

	&__content {
		position: relative;
	}
	&__title {
		@extend %header;
		margin-bottom: 54px;
	}

	&__swiper-arrow-prev, &__swiper-arrow-next {
		width: 56px;
		height: 56px;		
		border: 1px solid #D5D5D5;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0px;
		top: 0;

		&:hover {
			cursor: pointer;
		}
	}

	&__swiper-arrow-prev {
		right: 72px;
	}
	::-webkit-scrollbar { 
		display: none; 
	}
	-ms-overflow-style: none;  /* IE и Edge */

	&__wrapper {
		margin-bottom: 44px;
		overflow-x: scroll;
		scrollbar-width: none;
	}

	&__slide {
		background: $main-white;
		padding: 40px;
		flex: 0 0 545px;
		display: flex;
		flex-direction: column;
		height: auto;
	}

	&__name {
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		color: $main-black;
		margin-bottom: 12px;
	}

	&__label {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: $main-gray;
		margin-bottom: 40px;
		width: 246px;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: $main-black;
		flex: 1 1 auto;
		margin-bottom: 40px;
	}

	&__link {
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		color: $main-blue;
	}

	&__button {
		@extend %button;
		width: 258px;
		margin: 0 auto;
		display: block;
	}

	@media (max-width: 990px) {
		padding: 48px 0;

		&__title {
			margin-bottom: 38px;
		}

		&__swiper-arrow-prev, &__swiper-arrow-next {
			width: 46px;
			height: 46px;
			top: auto;
			bottom: 0;
		}
		&__swiper-arrow-prev {
			right: 62px;
		}
		&__slide {
			padding: 20px;
			flex: 0 0 450px;
			max-width: 450px;
		}
		&__name {
			margin-bottom: 8px;
		}
		&__label, &__text {
			margin-bottom: 24px;
		}
		&__link {
			font-size: 16px;
		}
	}

	@media (max-width: 485px) {
		&__slide {
			flex: 0 0 100%;
		}
	}
}

.questions {
	background: $blue-1;
	padding: 80px 0;
	color: $main-white;
	text-align: center;

	&__title {
		@extend %header;
		color: $main-white;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 13px;
		margin: 0 auto;
		max-width: 50%;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}

	&__input {
		@extend %input;
		width: 286px;
		margin-right: 30px;
	}

	&__button {
		@extend %button;
		width: 200px;
	}

	&__agree {
		font-size: 12px;
	}

	&__link {
		text-decoration: underline;
		color: $main-white;
		font-weight: 400;
    	line-height: 1.5;
		&:hover {
			cursor: pointer;
		}
	}

	@media (max-width: 990px) {
		padding: 48px 0;
		&__title {
			margin-bottom: 24px;
		}
	
		&__text {
			max-width: 70%;
			min-width: 355px;
			margin-bottom: 24px;
		}
		&__form {
			margin-bottom: 24px;
			flex-direction: column;
		}
		&__input {
			margin: 0 0 15px;
			width: 100%;
			max-width: 350px;
		}
		&__button {
			width: 350px;
		}
	}
}

.footer {
	background: $bg-gray;
	padding: 45px 0;

	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__logo {
		width: 200px;
		img {width: 100%;}
		margin-bottom: 1rem;
	}

	&__name {
		color: #6c757d;
		font-size: 13px;
	}

	&__nav {
		display: flex;
		gap: 100px;
		position: relative;
		top: 15px;
	}

	&__link {
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
		color: #505050;
		line-height: 1.5;
	}

	&__contact {
		position: relative;
		top: 15px;
	}

	&__contact-name {
		font-size: 14px;
		font-weight: 700;
		color: $main-black;
		text-align: right;
		margin-bottom: 7px;
	}

	&__phone {
		font-size: 18px;
		font-weight: 700;
		color: #079ad5;
	}

	@media (max-width: 990px) {
		&__row {
			align-items: center;
			justify-content: center;
			gap: 25px;
			flex-direction: column;
		}
		&__nav {
			top: 0;
			gap: 45px;
			width: 100%;
			justify-content: center;
		}
		&__contact {
			top: 0;
		}
		&__link {
			font-size: 16px;
			line-height: 2;
		}
		&__contact-name {
			text-align: center;
		}
	}
}


.confidentiality {
	background-color: $main-white;
	padding: 1rem 0;

	&__link {
		font-size: 13px;
		color: #343a40;
		text-decoration: none;
	}
}


